body {
    font-family: Arial, sans-serif;
    background-color: pink;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
    width: 60%;
    margin: 30px auto;
    background-color: rgb(210, 120, 135);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #fff;
}

.form-container {
    margin-top: 20px;
}

h2 {
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}