body {
    font-family: Arial, sans-serif;
    background-color: pink;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
    width: 60%;
    margin: 30px auto;
    background-color: rgb(210, 120, 135);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #fff;
}

.form-container {
    margin-top: 20px;
}

h2 {
    color: #000;
    text-decoration: underline;
    text-decoration-color: rgb(208, 19, 50);
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
}

button {
    padding: 10px;
    background-color: rgb(159, 64, 80);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    width: 20%;
    margin: 10px auto;
    transition: all ease-in-out .3s;
}

button:hover {
    background-color: rgb(140, 69, 81);
}